<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnmengma.mapper.TagMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="findAll" resultType="Tag">
        SELECT
        CMP_TAG.CMP_TAG_ID AS tagId,
        CMP_TAG.CMP_TAG_NAME AS tagName,
        CMP_CATEGORY.CMP_CATEGORY_ID AS categoryId,
        CMP_CATEGORY.CMP_CATEGORY_NAME AS categoryName,
        CMP_TAG.CMP_SERIAL_NUMBER AS serialNumber
        FROM CMP_TAG, CMP_CATEGORY
        WHERE
        CMP_TAG.CMP_CATEGORY_ID = CMP_CATEGORY.CMP_CATEGORY_ID
        ORDER BY CMP_TAG.CMP_SERIAL_NUMBER ASC
    </select>

</mapper>